# dependencies
node_modules
client/node_modules
node-middlewares/node_modules

# log
yarn-error.log
client/yarn-error.log
node-middlewares/yarn-error.log

# dist
dist
client/dist
node-middlewares/dist
